
<div class="gl-container" *ngIf="currentClient">
  <a pButton label="Назад" routerLink="../" class="back-link"></a>

  <h1>{{ currentClient.name }}</h1>
  <p class="info-field">
    <span>Наименование организации</span>
    <span>{{ currentClient.name }}</span>
  </p>
  <p class="info-field">
    <span>ИНН</span>
    <span>{{ currentClient.inn }}</span>
  </p>
  <p class="info-field">
    <span>Дата открытия счета</span>
    <span>{{ currentClient.openingDate | date:'dd MMMM YYYY' }}</span>
  </p>
  <p class="info-field">
    <span>Остаток</span>
    <span>{{ currentClient.balance | balance:null:2 }}</span>
  </p>
  <div class="phone-field info-field">
    <p>Номер телефона</p>
    <ng-container *ngIf="!editNumber">
      <p>{{ currentClient.phoneNumber | mask:'+0 (000) 000 00 00' }}</p>
      <button pButton label="Изменить" (click)="cancelOrEdit()"></button>
    </ng-container>
    <div class="p-inputgroup" *ngIf="editNumber">
      <button type="button" pButton *ngIf="editNumber" label="Ок"
              (click)="openConfirmationPhoneChange()"></button>
      <input type="text" pInputText placeholder="Номер телефона"
             [formControl]="phoneControl" mask="+0 (000) 000 00 00">
      <button type="button" pButton label="Отмена"
              (click)="cancelOrEdit()"></button>
    </div>
  </div>
  <p-table [value]="currentClient.payments" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Дата платежа</th>
        <th>Контрагент</th>
        <th>Сумма</th>
        <th>Тип</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-paymentItem>
      <tr class="client-row" *ngIf="paymentItem | typed:PaymentType as payment">
        <td>{{ payment.paymentDate | date:'dd.MM.YYYY' }}</td>
        <td>{{ payment.agent }}</td>
        <td>{{ payment.balance | balance }}</td>
        <td>{{ payment.type | typeTranslate }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog header="Подтвердите действие" icon="pi pi-exclamation-triangle"></p-confirmDialog>
